@import "@fontsource/inter/variable-full.css";

* {
    box-sizing: border-box
}
body {
    font-family: "InterVariable", sans-serif;
    overflow: hidden;
}

pre {
    min-width: fit-content;
}

/* Fixes KaTeX \frac line color */
span.frac-line {
    border-color: rgb(31 41 55 / var(--tw-text-opacity));
}

:is(.dark span.frac-line){
    border-color: rgb(229 231 235 / var(--tw-text-opacity));
}

/* Removes blockquote font adjustment */
blockquote {
    font-weight: inherit !important;
    font-size: inherit !important;
}

.edit-blockquote, .edit-blockquote + .math {
    font-weight: bold;

    --tw-text-opacity: 1;
    color: rgb(200 30 30 / var(--tw-text-opacity)) /* #c81e1e */;
    
    &:is(.dark *) {
        --tw-text-opacity: 1;
        color: rgb(240 82 82 / var(--tw-text-opacity)) /* #f05252 */;
    }
}

.edit-blockquote + .math-inline {
    ::after { 
        content: ' ';
    }
}

a:has(.edit-blockquote) {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

ol > li {
    margin-bottom: 1rem !important;
}